@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-light: #ffffff;
  --color-light-blue: #56CCF2;
  --color-blue: #174180;
  --color-dark-blue:#11294d;
  --color-grey: #828282;
  --color-light-grey: #eeeeee;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

body {
  background-color: lightcyan;
  min-height: 100vh;
}

.change__color {
  transition: all ease;
}

.change__color:hover {
  color: var(--color-light-blue);
}

.cv__container {
  min-height: 100vh;
  max-width: 1024px;
  margin: 60px auto;
  box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.5);
}

.header {
  background-color: var(--color-dark-blue);
}

.container {
  padding: 30px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  color: var(--color-light);
  font-weight: 700;
  text-transform: capitalize;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left__side {
  background-color: var(--color-blue);
}

.left__side .title {
  color: var(--color-light-blue);
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  color: var(--color-light);
  text-transform: capitalize;
}

.img__wrapper {
  align-self: center;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__name {
  font-size: 32px;
  font-weight: 400;
}

.profile__name span {
  font-weight: 800;
}

.profile__profession {
  font-size: 26px;
  font-weight: 400;
}

.contacts {
  color: var(--color-light-blue);
  font-size: 22px;
  margin-bottom: 16px;
}

.visually__hidden {
  display: none;
}

.contacts__item {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 9px;
}

.contacts__item a {
  text-transform: capitalize;
}

.contacts__item a.mail {
  text-transform: lowercase;
}

.create__underline:hover {
  transition: all ease;
}

.create__underline:hover:hover {
  text-decoration: underline var(--color-light-blue);
}

.education {
  color: var(--color-light);
  margin-bottom: 25px;
  font-size: 22px;
  text-transform: capitalize;
}

.graduation__year {
  font-weight: 600;
  font-style: italic;
}

.university {
  font-weight: 700;
}

.faculty span {
  text-transform: lowercase;
}